{% load static %}
<!doctype html>
<html data-theme="ultraforest">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widt, initial-scale=1.0">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <title>Arrow Movies</title>
  </head>
  <body>
      <div id="root"></div>
      <script src="{% static 'bundle.js' %}"></script> 
      <script>
          // Try to load appropriate theme based of cookies/preferences
          let theme = localStorage.getItem('theme');
          let html = document.getElementsByTagName('html')[0];
          if (theme) {
              html.style.backgroundColor = '#2c2727';
              html.setAttribute('data-theme', theme);
          }
          else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
              html.style.backgroundColor = '#2c2727';
              html.setAttribute('data-theme', 'ultraforest');

              localStorage.setItem('theme', 'ultraforest');
          }

        // defaults to light
    </script>
  </body>
</html>
